*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.Barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-left: 28px;
    padding-right: 28px;
    height: 75px;
    position: fixed;
    flex-wrap: initial;
}

#PinLog{
    height: 24px;
    width: 24px;
}

#PinBut{
    height: 24px;
    width: 24px;
    background-color: white;
    border: 0ch;
}

#Inicio{
    background-color: black;
    font-size: 15px;
    font-weight: 520;
    color: white;
    text-align: center;
    padding: 12px 12px 12px 12px;
    border-radius: 12cm;
    height: 45px;
    width: 70px;
    margin-left: 10px;
}

#Hoy{
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 12px 12px 12px 12px;
    border-radius: 12cm;
    border: 0;
    height: 45px;
    width: 70px;
}

#Crear{
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 12px 12px 12px 12px;
    border-radius: 12cm;
    border: 0;
    height: 45px;
    width: 100px;
}

.Buscador{
    background-color: #E9E9E9;
    font-size: 15px;
    color: black;
    border-radius: 12cm;
    border: 0;
    height: 45px;
    width: 1360px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#Lupa{
    height: 20px;
    width: 35px;
    padding-left: 15px;
}

#Buscar{
    text-align: left;
    width: 100%;
    padding-left: 5px;
    padding-top: 3px;
    border: 0cm;
    background-color: #E9E9E9;
    margin-right: 10px;
}

#CamBut{
    height: 24px;
    width: 24px;
    background-color: white;
    border: 0ch;
    margin-left: 30px;
}

#Campana{
    height: 24px;
    width: 24px;
}

#ComBut{
    height: 24px;
    width: 24px;
    background-color: white;
    border: 0ch;
    margin-left: 20px;
}

#Comentario{
    height: 24px;
    width: 24px;
}

#Letra{
    background-color: #E9E9E9;
    font-size: 10px;
    font-weight: 520;
    color: black;
    text-align: center;
    border: 0;
    border-radius: 12cm;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
    justify-self: center;
}

#FleBut{
    display: flex;
    background-color: white;
    align-items: center;
    justify-items: left;
    border: 0;
    border-radius: 12cm;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
}

#Flecha{
    height: 20px;
    width: 20px;
}